includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    checkMissingIterableValueType: true

    level: max
    paths:
        - src
        - config
        - database

    excludePaths:
        - tests
        - src/Components/**/tests/*


